<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.btw.whatsup">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WhatsUp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".About"
            android:label="@string/about_title"
            android:theme="@android:style/Theme.Holo.Dialog">  <!--@android means reference to android resource file-->
        </activity>

        <activity android:name=".ChooseUp"

        android:theme="@android:style/Theme.Holo.Light.NoActionBar">  <!--@android means reference to android resource file-->
    </activity>

        <activity android:name=".ChooseUpMode"

            android:theme="@android:style/Theme.Holo.Light.NoActionBar">  <!--@android means reference to android resource file-->
        </activity>

        <activity android:name=".ChooseUpManual"

            android:theme="@android:style/Theme.Holo.Light.NoActionBar">  <!--@android means reference to android resource file-->
        </activity>

        <activity android:name=".ChooseUpRandom"

            android:theme="@android:style/Theme.Holo.Light.NoActionBar">  <!--@android means reference to android resource file-->
        </activity>

        <activity android:name=".Main"
            android:label="@string/main_title"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">  <!--@android means reference to android resource file-->
        </activity>

        <activity android:name=".Onetwothree"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">

          <!--  android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" -->


        </activity>

        <activity android:name=".Settings"
            android:label="@string/settings_title">

        </activity>

        <activity android:name=".GameOver"
            android:theme="@android:style/Theme.Holo.DialogWhenLarge.NoActionBar">  <!--@android means reference to android resource file-->
        </activity>
        <activity android:name=".TimesUp"
            android:theme="@android:style/Theme.Holo.DialogWhenLarge.NoActionBar">  <!--@android means reference to android resource file-->
        </activity>
    </application>

</manifest>