<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.btw.whatsup">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/coloured_bear"
        android:label="@string/app_name"
        android:roundIcon="@drawable/coloured_bear"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".WhatsUp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".About"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"></activity>


        <activity
            android:name=".ChooseUpMode"

            android:theme="@android:style/Theme.Holo.Light.NoActionBar">  <!--@android means reference to android resource file-->
        </activity>

        <activity
            android:name=".ChooseGameMode"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">  <!--@android means reference to android resource file-->
        </activity>

        <activity
            android:name=".MultiplayerGameStates"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">  <!--@android means reference to android resource file-->
        </activity>

        <activity
            android:name=".WaitingForPlayer"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">  <!--@android means reference to android resource file-->
        </activity>

        <activity
            android:name=".PlayerVsPlayer"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">  <!--@android means reference to android resource file-->
        </activity>

        <activity
            android:name=".ChooseUpManual"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"></activity>

        <activity
            android:name=".ChooseUpRandom"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"></activity>

        <activity
            android:name=".ChooseGridSize"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">  <!--@android means reference to android resource file-->
        </activity>

        <activity
            android:name=".ChooseLevel"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">  <!--@android means reference to android resource file-->
        </activity>

        <activity
            android:name=".MainEasy4"
            android:label="@string/main_title"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">
        </activity>

        <activity
            android:name=".YourUpDigit"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">  <!--@android means reference to android resource file-->
        </activity>

        <activity
            android:name=".MainLame4"
            android:label="@string/main_title"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">
        </activity>

        <activity
            android:name=".MainMedium4"
            android:label="@string/main_title"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">
        </activity>

        <activity
            android:name=".MainHard4"
            android:label="@string/main_title"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">
        </activity>
        <activity
            android:name=".MainExtreme4"
            android:label="@string/main_title"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">
        </activity>
        <activity
            android:name=".MainTeamUp"
            android:label="@string/main_title"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"></activity>

        <activity
            android:name=".MainUp"
            android:label="@string/main_title"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"></activity>

        <activity
            android:name=".MainDown"
            android:label="@string/main_title"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"></activity>

        <activity
            android:name=".Onetwothree"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">

        </activity>

        <activity
            android:name=".ChangeUpDigit"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

        <activity
            android:name=".SecondUpDigit"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

        <activity
            android:name=".Pause"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>

        <activity
            android:name=".ContinueScreen"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>

        <activity
            android:name=".PlayDemo"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">  <!--@android means reference to android resource file-->
        </activity>

        <activity
            android:name=".Settings"
            android:label="@string/settings_title"
            android:theme="@style/Theme.SettingsBackground">
        </activity>

        <activity
        android:name=".GameOver"
        android:theme="@android:style/Theme.Holo.DialogWhenLarge.NoActionBar">  <!--@android means reference to android resource file-->
    </activity>

        <activity
            android:name=".Rotate"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

        <activity
            android:name=".IncreaseGrid"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

        <activity
            android:name=".loginlogout"
            android:theme="@style/Theme.AppCompat.Light">  <!--@android means reference to android resource file-->
        </activity>

    </application>

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE"/>

</manifest>